- name: Generate GitHub Readme Stats
  uses: readme-tools/github-readme-stats-action@v1
  with:
    card: stats 
    options: username=${{ github.repository_owner }}&show_icons=true&theme=radical
    path: profile/github-stats.svg
    token: ${{ secrets.GITHUB_TOKEN }}
